<div class="container-fluid" style="margin-top:100px">
    {{!--Fila 1 --}}
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span>¡Hola {{persona}}!</span>
                <a href="/admin/login/logout" class="btn btn-link">Cerrar sesión<i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
    {{!-- Fin fila 1--}}
</div>{{!--Fin container --}}

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin/novedades">Novedades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin/promociones">Promociones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin/faqs">FAQs</a>
        </li>
    </ul>
</div>