<div class="container staff" style="margin:100px auto;">

    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="form-group">
                    <label for="usuario" class="fuente">Usuario</label>
                    <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" name="usuario">
                </div>

                <div class="form-group">
                    <label for="password" class="fuente">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary" style="margin:10px;">Iniciar sesión</button>
                </div>

            </form>
            {{#if error}}
            <p class="error">¡Usuario y/o contraseña incorrectos!</p>
            {{/if}}
        </div>
    </div>

</div>