<nav class="navbar navbar-expand-lg navbar-danger bg-danger fixed-top">
  <div class="container-fluid">
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/images/logo.jpg" alt="Bootstrap" width="35" height="35">
        </a>
      </div>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PROMOS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalPromo1">Promo
                1</a>
            </li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalPromo2">Promo
                2</a>
            </li>
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalPromo3">Promo
                3</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#novedades">Novedades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#galeria">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactanos">Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faqs" target="_blank">FAQs</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<!--Inicio de modal de PROMOS-->
<div class="modal fade" id="modalPromo1" tabindex="-1" aria-labelledby="modalPromoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalPromoLabel">Promo 1</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Caja de 8 bombones a elección</p>
        <h3>$850</h3>
        <img src="/images/promo1.jpg" alt="">
      </div>
    </div>
  </div>
</div> <!-- Fin de Modal de PROMOS-->

<!--Inicio de modal de PROMOS-->
<div class="modal fade" id="modalPromo2" tabindex="-1" aria-labelledby="modalPromoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalPromoLabel">Promo 2</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Cajas personalizadas</p>
        <h3>$1500 c/u</h3>
        <img src="/images/promo2.jpg" alt="">
      </div>
    </div>
  </div>
</div> <!-- Fin de Modal de PROMOS-->
<!--Inicio de modal de PROMOS-->
<div class="modal fade" id="modalPromo3" tabindex="-1" aria-labelledby="modalPromoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalPromoLabel">Promo 3</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Caja corazón con 13 bombones</p>
        <h3>$1600</h3>
        <img src="/images/promo3.jpg" alt="">
      </div>
    </div>
  </div>
</div> <!-- Fin de Modal de PROMOS-->

<div class="container-fluid">
  <!-- Portada del sitio-->
  <div id="home" class="row align-items-center portada scroll_section">
    <div class="col-lg-3 offset-lg-2">
      <p>Chocolates</p>
      <h1>Triple A</h1>
      <p>Somos una empresa familiar, fundada en el año 1950 en el barrio de Belgrano. Fuimos creciendo e
        incorporando
        tanto sucursales como nuevos miembros a esta familia que trabaja para compartirles los mejores sabores
        de
        chocolate.
      </p>
    </div>
  </div>
</div>

<br>

<div class="row"> <!--Inicio de la fila-->

  <div id="novedades" class="col text-center scroll_section" style="background-color: pink; ">
    <h2>Novedades</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¡Estamos contratando!
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Si te interesa trabajar con nosotros, acercanos tu CV a nuestra
            sucursal.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            ¡Nuevo sabor!
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">¿Ya probaste nuestro nuevo sabor chocolate triple A? Tiene una mezcla de
            chocolate, nueces y un ingrediente secreto.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            ¡Nueva sucursal!
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">¡Pronto abriremos una nueva sucursal en el Tortugas Open Mall!</div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin de novedades-->

  <!--Inicio de Galería-->
  <div id="galeria" class="col text-center scroll_section " style="background-color: pink;">
    <h2>
      Galería
    </h2>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/choco1.jpg" class="d-block w-50 rounded mx-auto d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/choco2.jpg" class="d-block w-50 rounded mx-auto d-block" alt="...">
        </div>

        <div class="carousel-item">
          <img src="/images/choco3.jpg" class="d-block w-50 rounded mx-auto d-block" alt="...">
        </div>
        <div class="carousel-item ">
          <img src="/images/choco4.jpg" class="d-block w-50 rounded mx-auto d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/choco5.jpg" class="d-block w-50 rounded mx-auto d-block" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div> <!--cierre de Galería-->

</div>
<!--Fin de la fila-->

<!--inicio de nosotros-->
<div id="nosotros" class="row align-items-stretch my-3 staff py-4 scroll_section">
  <div class="col-lg-8 offset-lg-2">
    <h2>Nosotros</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <!--modulo a repetir-->
      <div class="col">
        <div class="card">
          <img src="/images/persona1.jpg" clss="card-img-top" alt="Diana Reyes">
          <div class="card-body">
            <h5 class="card-title">Clara González</h5>
            <ul>
              <li>Jefa de Repostería</li>
              <li>Creadora de algunas de nuestras recetas</li>
            </ul>
          </div>
        </div>
      </div> <!--fin modulo a repetir-->

      <div class="col">
        <div class="card">
          <img src="/images/persona2.jpg" clss="card-img-top" alt="Diana Reyes">
          <div class="card-body">
            <h5 class="card-title">Diana Reyes</h5>
            <ul>
              <li>Encargada de personal</li>
              <li>También es encargadas de Ventas</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/images/persona3.jpg" clss="card-img-top" alt="Diana Reyes">
          <div class="card-body">
            <h5 class="card-title">Juan Reyes</h5>
            <ul>
              <li>Jefe de Marketing</li>
              <li>Está en Ventas junto a Diana</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/images/persona4.jpg" clss="card-img-top" alt="Diana Reyes">
          <div class="card-body">
            <h5 class="card-title">Stefano Juárez</h5>
            <ul>
              <li>Maestro Chocolatero</li>
              <li>Creador de nuestros productos</li>
          </div>
        </div>
      </div>

    </div>

  </div>

</div> <!--cierre de nosotros-->
<br>

<!--inicio de Visitanos-->
<div id="visitanos" class="row py-4 scroll_section" style="background-color: pink;">
  <!--inicio de mapa-->
  <div class="col-md-4 offset-md-2">
    <h2>Dónde estamos</h2>
    <div class="mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.1031046545863!2d-58.51779058839343!3d-34.525615672869684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb0da0f83712d%3A0xf50bd0a3a3cb2f1f!2sJuli%C3%A1n%20Segundo%20Ag%C3%BCero%202530%2C%20B1650%20Munro%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1681427080901!5m2!1ses!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>

  <!--inicio de formulario-->
  <div id="contactanos" class="col-md-4 mt-4 mt-sm-0">
    <h2>Contactanos</h2>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre">
      </div>
      <div class="col-md-6">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido">
      </div>
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="col-12">
        <label for="sugerencia" class="form-label">Dejanos tu sugerencia</label>
        <textarea class="form-control" id="sugerencia" rows="7"></textarea>
      </div>
      <div class="col-12">
        <div class="d-grid gap-2">
          <button class="btn btn-primary btn-lg" type="button">Enviar</button>
        </div>
      </div>
    </form>
  </div> <!--fin de formulario-->
</div><!--Fin de Visitanos-->