/*font-family: 'Amatic SC', cursive;
*/

.portada {
    background: url(../images/portada.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color: white;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: inherit;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}


.staff {
    background: #efefef;
}

.mapa iframe{
    width: 100%;
    aspect-ratio: 1.2;
}

footer {
    background-color: #aaa;
}

html {
    scroll-behavior: smooth;
}

.scroll_section {
    scroll-margin-top: 60px;
}

#enviado{
     color:green;
}